{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Kustomize Tools</title>
    <!-- 引入 WeUI CDN 链接 -->
    <link rel="stylesheet" href="assets/css/weui.min.css"/>
    <link rel="stylesheet" href="assets/css/page.css"/>
    <link rel="stylesheet" href="assets/css/prism.css"/>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/weui.min.js"></script>
    <script src="assets/js/prism.js"></script>
</head>
<body>
{{ end }}
