{{ template "header" . }}
<div class="container" id="container">
    <div class="page flex js_show">
        <!-- head -->
        <div class="page__hd">
            <h1 class="page__title">Kustomize Tool</h1>
            <p class="page__desc">some tools for kustomize</p>
        </div>
        {{ template "build" . }}
        {{ template "generate" . }}
        <div id="js_toast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content">Success</p>
            </div>
        </div>
        {{ template "tabbar" . }}
        <!-- loading toast -->
        <div id="loadingToast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content">Loading...</p>
            </div>
        </div>
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd" id="dia"></div>
                <div class="weui-dialog__ft">
                    <a href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary">OK</a>
                </div>
            </div>
        </div>
        <!--END dialog2-->
    </div>
</div>
{{ template "footer" . }}